In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
# Read the data into a Pandas DataFrame
jobs_df = pd.read_csv('Resources/jobs.csv')
jobs_df.head()

,FIPS,State,County,UnempRate2020,PctEmpChange1920,UnempRate2019,PctEmpChange1819,UnempRate2018,UnempRate2017,UnempRate2016,...,NumUnemployed2015,NumUnemployed2014,NumEmployed2014,NumCivLaborforce2014,NumUnemployed2013,NumCivLaborforce2013,NumUnemployed2007,NumEmployed2007,NumCivLaborforce2007,NumCivLaborforce2017
0,0,US,United States,8.1,-6.0,3.7,1.3,3.9,4.4,4.9,...,8285731.0,9617207.0,146318952.0,155936159.0,11457241.0,155362278.0,7034917.0,145156133.0,152191050.0,160214378.0
1,1000,AL,Alabama,5.9,-3.2,3.0,2.3,3.9,4.6,5.9,...,131852.0,146010.0,2018705.0,2164715.0,159274.0,2172102.0,88418.0,2092030.0,2180448.0,2172455.0
2,1001,AL,Autauga,4.9,-3.9,2.7,1.7,3.6,4.0,5.1,...,1335.0,1489.0,24150.0,25639.0,1628.0,25783.0,824.0,23610.0,24434.0,25898.0
3,1003,AL,Baldwin,5.6,-3.6,2.8,3.7,3.6,4.2,5.4,...,4874.0,5281.0,81265.0,86546.0,5740.0,85206.0,2616.0,80213.0,82829.0,91838.0
4,1005,AL,Barbour,7.0,-2.4,3.8,2.9,5.1,6.0,8.4,...,767.0,929.0,7930.0,8859.0,944.0,9096.0,665.0,9698.0,10363.0,8298.0

In [3]:
# Read the data into a Pandas DataFrame
income_df = pd.read_csv('Resources/income.csv')
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3278 entries, 0 to 3277
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FIPS                   3278 non-null   int64
 1   State                  3278 non-null   object
 2   County                 3278 non-null   object
 3   Median_HH_Inc_ACS      3273 non-null   float64
 4   PerCapitaInc           3273 non-null   float64
 5   Poverty_Rate_0_17_ACS  3272 non-null   float64
 6   Poverty_Rate_ACS       3273 non-null   float64
 7   Deep_Pov_All           3273 non-null   float64
 8   Deep_Pov_Children      3273 non-null   float64
 9   NumAll_inPOV_ACS       3273 non-null   float64
 10  PCTPOV017              3193 non-null   float64
 11  POV017                 3193 non-null   float64
 12  MedHHInc               3193 non-null   float64
 13  POVALL                 3193 non-null   float64
 14  PCTPOVALL              3193 non-null   float64
 15  Num_inPOV_0_17_ACS     3273 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 409.9+ KB

# JOBS AND INCOME

In [4]:
# Get a brief summary of the crowdfunding_info DataFrame.
jobs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3278 entries, 0 to 3277
Data columns (total 75 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   FIPS                  3278 non-null   int64
 1   State                 3278 non-null   object
 2   County                3278 non-null   object
 3   UnempRate2020         3193 non-null   float64
 4   PctEmpChange1920      3193 non-null   float64
 5   UnempRate2019         3272 non-null   float64
 6   PctEmpChange1819      3272 non-null   float64
 7   UnempRate2018         3272 non-null   float64
 8   UnempRate2017         3272 non-null   float64
 9   UnempRate2016         3272 non-null   float64
 10  UnempRate2015         3272 non-null   float64
 11  UnempRate2014         3272 non-null   float64
 12  UnempRate2010         3272 non-null   float64
 13  UnempRate2007         3270 non-null   float64
 14  PctEmpChange1020      3193 non-null   float64
 15  PctEmpChange0720      3188 non-null   float64
 16  PctEmpChange0710      3267 non-null   float64
 17  PctEmpAgriculture     3273 non-null   float64
 18  PctEmpMining          3273 non-null   float64
 19  PctEmpConstruction    3273 non-null   float64
 20  PctEmpManufacturing   3273 non-null   float64
 21  PctEmpTrade           3273 non-null   float64
 22  PctEmpTrans           3273 non-null   float64
 23  PctEmpInformation     3273 non-null   float64
 24  PctEmpFIRE            3273 non-null   float64
 25  PctEmpServices        3273 non-null   float64
 26  PctEmpGovt            3273 non-null   float64
 27  NumCivEmployed        3273 non-null   float64
 28  NumCivLaborForce2012  3272 non-null   float64
 29  NumUnemployed2011     3272 non-null   float64
 30  UnempRate2012         3272 non-null   float64
 31  NumEmployed2011       3272 non-null   float64
 32  NumEmployed2012       3272 non-null   float64
 33  NumCivLaborForce2011  3272 non-null   float64
 34  UnempRate2011         3272 non-null   float64
 35  NumUnemployed2010     3272 non-null   float64
 36  NumEmployed2010       3272 non-null   float64
 37  NumCivLaborForce2010  3272 non-null   float64
 38  NumUnemployed2009     3270 non-null   float64
 39  NumEmployed2009       3270 non-null   float64
 40  NumCivLaborForce2009  3270 non-null   float64
 41  NumUnemployed2008     3270 non-null   float64
 42  UnempRate2013         3272 non-null   float64
 43  NumEmployed2008       3270 non-null   float64
 44  NumCivLaborForce2008  3270 non-null   float64
 45  UnempRate2009         3270 non-null   float64
 46  UnempRate2008         3270 non-null   float64
 47  NumEmployed2016       3272 non-null   float64
 48  NumEmployed2020       3193 non-null   float64
 49  NumCivLaborforce2020  3193 non-null   float64
 50  NumUnemployed2020     3193 non-null   float64
 51  NumEmployed2019       3272 non-null   float64
 52  NumUnemployed2019     3272 non-null   float64
 53  NumCivLaborforce2019  3272 non-null   float64
 54  NumUnemployed2018     3272 non-null   float64
 55  NumEmployed2018       3272 non-null   float64
 56  NumCivLaborforce2018  3272 non-null   float64
 57  NumUnemployed2017     3272 non-null   float64
 58  NumEmployed2017       3272 non-null   float64
 59  NumEmployed2013       3272 non-null   float64
 60  NumUnemployed2016     3272 non-null   float64
 61  NumUnemployed2012     3272 non-null   float64
 62  NumCivLaborforce2016  3272 non-null   float64
 63  NumCivLaborforce2015  3272 non-null   float64
 64  NumEmployed2015       3272 non-null   float64
 65  NumUnemployed2015     3272 non-null   float64
 66  NumUnemployed2014     3272 non-null   float64
 67  NumEmployed2014       3272 non-null   float64
 68  NumCivLaborforce2014  3272 non-null   float64
 69  NumUnemployed2013     3272 non-null   float64
 70  NumCivLaborforce2013  3272 non-null   float64
 71  NumUnemployed2007     3270 non-null   float64
 72  NumEmployed2007       3270 non-null   float64
 73  NumCivLaborforce2007  3270 non-null   float64
 74  NumCivLaborforce2017  3272 non-null   float64
dtypes: float64(72), int64(1), object(2)
memory usage: 1.9+ MB

In [5]:
# Check for missing values:
jobs_df.isnull().sum()

FIPS                     0
State                    0
County                   0
UnempRate2020           85
PctEmpChange1920        85
                        ..
NumCivLaborforce2013     6
NumUnemployed2007        8
NumEmployed2007          8
NumCivLaborforce2007     8
NumCivLaborforce2017     6
Length: 75, dtype: int64

In [6]:
# Replacing null values with zeros
jobs_df = jobs_df.fillna(0)
jobs_df.isnull().sum()

FIPS                    0
State                   0
County                  0
UnempRate2020           0
PctEmpChange1920        0
                       ..
NumCivLaborforce2013    0
NumUnemployed2007       0
NumEmployed2007         0
NumCivLaborforce2007    0
NumCivLaborforce2017    0
Length: 75, dtype: int64

In [7]:
# Nulls in 'income.csv'?
income_df.isnull().sum()

FIPS                      0
State                     0
County                    0
Median_HH_Inc_ACS         5
PerCapitaInc              5
Poverty_Rate_0_17_ACS     6
Poverty_Rate_ACS          5
Deep_Pov_All              5
Deep_Pov_Children         5
NumAll_inPOV_ACS          5
PCTPOV017                85
POV017                   85
MedHHInc                 85
POVALL                   85
PCTPOVALL                85
Num_inPOV_0_17_ACS        5
dtype: int64

In [8]:
# Replacing null values with zeros
income_cleaned_df = income_df.fillna(0)
income_cleaned_df.isnull().sum()

FIPS                     0
State                    0
County                   0
Median_HH_Inc_ACS        0
PerCapitaInc             0
Poverty_Rate_0_17_ACS    0
Poverty_Rate_ACS         0
Deep_Pov_All             0
Deep_Pov_Children        0
NumAll_inPOV_ACS         0
PCTPOV017                0
POV017                   0
MedHHInc                 0
POVALL                   0
PCTPOVALL                0
Num_inPOV_0_17_ACS       0
dtype: int64

In [9]:
# Save the DataFrame to a CSV file and Export
income_cleaned = 'Resources/income_cleaned.csv'
income_cleaned_df.to_csv(income_cleaned, index=False)
print(f"Data was saved to '{income_cleaned}'.")

Data was saved to 'Resources/income_cleaned.csv'.

# JOBS

In [10]:
jobs_cleaned_df = jobs_df[['FIPS', 'State', 'County', 'PctEmpAgriculture', 'PctEmpMining', 'PctEmpConstruction', 'PctEmpManufacturing', 'PctEmpTrade', 'PctEmpTrans', 'PctEmpInformation', 'PctEmpFIRE', 'PctEmpServices', 'PctEmpGovt', 'NumCivEmployed']]
jobs_cleaned_df.head()

,FIPS,State,County,PctEmpAgriculture,PctEmpMining,PctEmpConstruction,PctEmpManufacturing,PctEmpTrade,PctEmpTrans,PctEmpInformation,PctEmpFIRE,PctEmpServices,PctEmpGovt,NumCivEmployed
0,0,US,United States,1.259202,0.512723,6.592262,10.108008,13.745334,5.363914,2.011223,6.555840,49.244129,4.607366,154842185.0
1,1000,AL,Alabama,0.993190,0.398210,6.604990,14.332569,14.083735,5.454652,1.519607,5.523166,45.678045,5.411837,2097384.0
2,1001,AL,Autauga,0.517902,0.354783,6.072099,12.951635,12.445967,6.797977,1.362042,5.978305,44.082864,9.436424,24522.0
3,1003,AL,Baldwin,0.952772,0.257648,8.585460,9.249035,16.477900,5.003628,1.525907,7.520165,45.203016,5.224469,95091.0
4,1005,AL,Barbour,5.717342,0.000000,6.810888,23.047664,12.813503,6.632592,0.606205,3.720433,33.638417,7.012956,8413.0

In [11]:
# Replacing null values with zeros
jobs_cleaned_df = jobs_cleaned_df.fillna(0)
jobs_cleaned_df.isnull().sum()

FIPS                   0
State                  0
County                 0
PctEmpAgriculture      0
PctEmpMining           0
PctEmpConstruction     0
PctEmpManufacturing    0
PctEmpTrade            0
PctEmpTrans            0
PctEmpInformation      0
PctEmpFIRE             0
PctEmpServices         0
PctEmpGovt             0
NumCivEmployed         0
dtype: int64

In [12]:
# Save the DataFrame to a CSV file and Export
jobs_cleaned = 'Resources/jobs_cleaned.csv'
jobs_cleaned_df.to_csv(jobs_cleaned, index=False)
print(f"Data was saved to '{jobs_cleaned}'.")

Data was saved to 'Resources/jobs_cleaned.csv'.

# UNEMPLOYMENT

In [13]:
# # Making the 'unemployment' DataFrame and CSV; thanks chatGPT
# df = pd.DataFrame(jobs_df)

# # Melt the DataFrame to get the desired format
# df_melted = df.melt(id_vars=['FIPS', 'State', 'County'],
#                    value_vars=['UnempRate2020', 'UnempRate2019', 'UnempRate2018', 'UnempRate2017', 'UnempRate2016', 'UnempRate2015', 'UnempRate2014', 'UnempRate2013', 'UnempRate2012', 'UnempRate2011', 'UnempRate2010', 'UnempRate2009', 'UnempRate2008', 'UnempRate2007'],
#                    var_name='Year', value_name='UnempRate')
# # Map the 'YEAR' column to the actual years
# df_melted['Year'] = df_melted['Year'].str.replace('UnempRate', '')
# df_melted['Year'] = df_melted['Year'].astype(int)

# # Display the resulting DataFrame
# unemployment_cleaned_df = df_melted
# unemployment_cleaned_df

In [14]:
# # Making the 'unemployment' DataFrame and CSV; thanks chatGPT
# Assuming jobs_df is already defined as a DataFrame
df = pd.DataFrame(jobs_df)

# Melt the DataFrame for UnempRate
df_unemp_rate = df.melt(
    id_vars=['FIPS'],
    value_vars=['UnempRate2020', 'UnempRate2019', 'UnempRate2018', 'UnempRate2017', 'UnempRate2016', 'UnempRate2015', 'UnempRate2014', 'UnempRate2013', 'UnempRate2012', 'UnempRate2011', 'UnempRate2010', 'UnempRate2009', 'UnempRate2008', 'UnempRate2007'],
    var_name='Year', value_name='UnempRate'
)

# Extract the year from the 'Year' column for UnempRate
df_unemp_rate['Year'] = df_unemp_rate['Year'].str.replace('UnempRate', '')
df_unemp_rate['Year'] = df_unemp_rate['Year'].astype(int)

# Melt the DataFrame for NumUnemployed
df_num_unemployed = df.melt(
    id_vars=['FIPS'],
    value_vars=['NumUnemployed2020', 'NumUnemployed2019', 'NumUnemployed2018', 'NumUnemployed2017', 'NumUnemployed2016', 'NumUnemployed2015', 'NumUnemployed2014', 'NumUnemployed2013', 'NumUnemployed2012', 'NumUnemployed2011', 'NumUnemployed2010', 'NumUnemployed2009', 'NumUnemployed2008', 'NumUnemployed2007'],
    var_name='Year', value_name='NumUnemployed'
)

# Extract the year from the 'Year' column for NumUnemployed
df_num_unemployed['Year'] = df_num_unemployed['Year'].str.replace('NumUnemployed', '')
df_num_unemployed['Year'] = df_num_unemployed['Year'].astype(int)

# Merge the two melted DataFrames on the common columns
unemployment_cleaned_df = pd.merge(df_unemp_rate, df_num_unemployed, on=['FIPS', 'Year'])

# Add a sequential key column to the DataFrame
unemployment_cleaned_df['ID'] = range(1, len(unemployment_cleaned_df) + 1)

# Reorder columns to place 'Key' at the start
cols = ['ID'] + [col for col in unemployment_cleaned_df if col != 'ID']
unemployment_cleaned_df = unemployment_cleaned_df[cols]

# Filter the DataFrame to include only rows where Year > 2014
unemployment_cleaned_df = unemployment_cleaned_df[unemployment_cleaned_df['Year'] > 2013]

# Display the resulting DataFrame
unemployment_cleaned_df

          ID   FIPS  Year  UnempRate  NumUnemployed
0          1      0  2020        8.1     12933704.0
1          2   1000  2020        5.9       131056.0
2          3   1001  2020        4.9         1262.0
3          4   1003  2020        5.6         5425.0
4          5   1005  2020        7.0          605.0
...      ...    ...   ...        ...            ...
22941  22942  72145  2014       16.2         2288.0
22942  22943  72147  2014       14.0          442.0
22943  22944  72149  2014       21.8         1724.0
22944  22945  72151  2014       21.7         2096.0
22945  22946  72153  2014       21.4         2366.0

[22946 rows x 5 columns]

In [15]:
# Replacing null values with zeros
unemployment_cleaned_df = unemployment_cleaned_df.fillna(0)
unemployment_cleaned_df.isnull().sum()

ID               0
FIPS             0
Year             0
UnempRate        0
NumUnemployed    0
dtype: int64

In [16]:
unemployment_cleaned_df.isnull().sum()

ID               0
FIPS             0
Year             0
UnempRate        0
NumUnemployed    0
dtype: int64

In [17]:
# Save the DataFrame to a CSV file and Export
unemployment_cleaned = 'Resources/unemployment_cleaned.csv'
unemployment_cleaned_df.to_csv(unemployment_cleaned, index=False)
print(f"Data was saved to '{unemployment_cleaned}'")

Data was saved to 'Resources/unemployment_cleaned.csv'

# EMPLOYMENT

In [27]:
# Making the 'employment' DataFrame and CSV; thanks chatGPT

# Rename columns to be consistent
jobs_df.rename(columns={
    'NumCivLaborforce2020': 'NumCivLaborForce2020',
    'NumCivLaborforce2019': 'NumCivLaborForce2019',
    'NumCivLaborforce2018': 'NumCivLaborForce2018',
    'NumCivLaborforce2017': 'NumCivLaborForce2017',
    'NumCivLaborforce2016': 'NumCivLaborForce2016',
    'NumCivLaborforce2015': 'NumCivLaborForce2015',
    'NumCivLaborforce2014': 'NumCivLaborForce2014',
    'NumCivLaborforce2013': 'NumCivLaborForce2013',
    'NumCivLaborforce2007': 'NumCivLaborForce2007',
    'NumEmployed2020': 'NumEmployed2020',
    'NumEmployed2019': 'NumEmployed2019',
    'NumEmployed2018': 'NumEmployed2018',
    'NumEmployed2017': 'NumEmployed2017',
    'NumEmployed2016': 'NumEmployed2016',
    'NumEmployed2015': 'NumEmployed2015',
    'NumEmployed2014': 'NumEmployed2014',
    'NumEmployed2013': 'NumEmployed2013',
    'NumEmployed2007': 'NumEmployed2007'
}, inplace=True)

df2 = pd.DataFrame(jobs_df)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3278 entries, 0 to 3277
Data columns (total 75 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   FIPS                  3278 non-null   int64
 1   State                 3278 non-null   object
 2   County                3278 non-null   object
 3   UnempRate2020         3278 non-null   float64
 4   PctEmpChange1920      3278 non-null   float64
 5   UnempRate2019         3278 non-null   float64
 6   PctEmpChange1819      3278 non-null   float64
 7   UnempRate2018         3278 non-null   float64
 8   UnempRate2017         3278 non-null   float64
 9   UnempRate2016         3278 non-null   float64
 10  UnempRate2015         3278 non-null   float64
 11  UnempRate2014         3278 non-null   float64
 12  UnempRate2010         3278 non-null   float64
 13  UnempRate2007         3278 non-null   float64
 14  PctEmpChange1020      3278 non-null   float64
 15  PctEmpChange0720      3278 non-null   float64
 16  PctEmpChange0710      3278 non-null   float64
 17  PctEmpAgriculture     3278 non-null   float64
 18  PctEmpMining          3278 non-null   float64
 19  PctEmpConstruction    3278 non-null   float64
 20  PctEmpManufacturing   3278 non-null   float64
 21  PctEmpTrade           3278 non-null   float64
 22  PctEmpTrans           3278 non-null   float64
 23  PctEmpInformation     3278 non-null   float64
 24  PctEmpFIRE            3278 non-null   float64
 25  PctEmpServices        3278 non-null   float64
 26  PctEmpGovt            3278 non-null   float64
 27  NumCivEmployed        3278 non-null   float64
 28  NumCivLaborForce2012  3278 non-null   float64
 29  NumUnemployed2011     3278 non-null   float64
 30  UnempRate2012         3278 non-null   float64
 31  NumEmployed2011       3278 non-null   float64
 32  NumEmployed2012       3278 non-null   float64
 33  NumCivLaborForce2011  3278 non-null   float64
 34  UnempRate2011         3278 non-null   float64
 35  NumUnemployed2010     3278 non-null   float64
 36  NumEmployed2010       3278 non-null   float64
 37  NumCivLaborForce2010  3278 non-null   float64
 38  NumUnemployed2009     3278 non-null   float64
 39  NumEmployed2009       3278 non-null   float64
 40  NumCivLaborForce2009  3278 non-null   float64
 41  NumUnemployed2008     3278 non-null   float64
 42  UnempRate2013         3278 non-null   float64
 43  NumEmployed2008       3278 non-null   float64
 44  NumCivLaborForce2008  3278 non-null   float64
 45  UnempRate2009         3278 non-null   float64
 46  UnempRate2008         3278 non-null   float64
 47  NumEmployed2016       3278 non-null   float64
 48  NumEmployed2020       3278 non-null   float64
 49  NumCivLaborForce2020  3278 non-null   float64
 50  NumUnemployed2020     3278 non-null   float64
 51  NumEmployed2019       3278 non-null   float64
 52  NumUnemployed2019     3278 non-null   float64
 53  NumCivLaborForce2019  3278 non-null   float64
 54  NumUnemployed2018     3278 non-null   float64
 55  NumEmployed2018       3278 non-null   float64
 56  NumCivLaborForce2018  3278 non-null   float64
 57  NumUnemployed2017     3278 non-null   float64
 58  NumEmployed2017       3278 non-null   float64
 59  NumEmployed2013       3278 non-null   float64
 60  NumUnemployed2016     3278 non-null   float64
 61  NumUnemployed2012     3278 non-null   float64
 62  NumCivLaborForce2016  3278 non-null   float64
 63  NumCivLaborForce2015  3278 non-null   float64
 64  NumEmployed2015       3278 non-null   float64
 65  NumUnemployed2015     3278 non-null   float64
 66  NumUnemployed2014     3278 non-null   float64
 67  NumEmployed2014       3278 non-null   float64
 68  NumCivLaborForce2014  3278 non-null   float64
 69  NumUnemployed2013     3278 non-null   float64
 70  NumCivLaborForce2013  3278 non-null   float64
 71  NumUnemployed2007     3278 non-null   float64
 72  NumEmployed2007       3278 non-null   float64
 73  NumCivLaborForce2007  3278 non-null   float64
 74  NumCivLaborForce2017  3278 non-null   float64
dtypes: float64(72), int64(1), object(2)
memory usage: 1.9+ MB

In [28]:
# Making the 'employment' DataFrame and CSV; thanks chatGPT
# Assuming jobs_df is already defined as a DataFrame
df = pd.DataFrame(jobs_df)

# Melt the DataFrame for empRate
df_numcivlaborforce = df.melt(
    id_vars=['FIPS'],
    value_vars=['NumCivLaborForce2012', 'NumCivLaborForce2011', 'NumCivLaborForce2010', 'NumCivLaborForce2009', 'NumCivLaborForce2008', 'NumCivLaborForce2020', 'NumCivLaborForce2019', 'NumCivLaborForce2018', 'NumCivLaborForce2016', 'NumCivLaborForce2015', 'NumCivLaborForce2014', 'NumCivLaborForce2013', 'NumCivLaborForce2007', 'NumCivLaborForce2017'],
    var_name='Year', value_name='NumCivLaborForce'
)

# Extract the year from the 'Year' column for NumCivLaborForce
df_numcivlaborforce['Year'] = df_numcivlaborforce['Year'].str.replace('NumCivLaborForce', '')
df_numcivlaborforce['Year'] = df_numcivlaborforce['Year'].astype(int)

# Melt the DataFrame for NumUnemployed
df_num_employed = df.melt(
    id_vars=['FIPS'],
    value_vars=['NumEmployed2020', 'NumEmployed2019', 'NumEmployed2018', 'NumEmployed2017', 'NumEmployed2016', 'NumEmployed2015', 'NumEmployed2014', 'NumEmployed2013', 'NumEmployed2012', 'NumEmployed2011', 'NumEmployed2010', 'NumEmployed2009', 'NumEmployed2008', 'NumEmployed2007'],
    var_name='Year', value_name='Numemployed'
)

# Extract the year from the 'Year' column for Numemployed
df_num_employed['Year'] = df_num_employed['Year'].str.replace('NumEmployed', '')
df_num_employed['Year'] = df_num_employed['Year'].astype(int)

# Merge the two melted DataFrames on the common columns
employment_cleaned_df = pd.merge(df_numcivlaborforce, df_num_employed, on=['FIPS', 'Year'])

# Add a sequential key column to the DataFrame
employment_cleaned_df['ID'] = range(1, len(employment_cleaned_df) + 1)

# Reorder columns to place 'Key' at the start
cols = ['ID'] + [col for col in employment_cleaned_df if col != 'ID']
employment_cleaned_df = employment_cleaned_df[cols]

# Filter the DataFrame to include only rows where Year > 2014
employment_cleaned_df = employment_cleaned_df[employment_cleaned_df['Year'] > 2013]

# Display the resulting DataFrame
employment_cleaned_df

          ID   FIPS  Year  NumCivLaborForce  Numemployed
16390  16391      0  2020       160611064.0  147677360.0
16391  16392   1000  2020         2230118.0    2099062.0
16392  16393   1001  2020           25838.0      24576.0
16393  16394   1003  2020           96763.0      91338.0
16394  16395   1005  2020            8587.0       7982.0
...      ...    ...   ...               ...          ...
45887  45888  72145  2017           13414.0      11746.0
45888  45889  72147  2017            3027.0       2589.0
45889  45890  72149  2017            7557.0       6090.0
45890  45891  72151  2017            9000.0       7512.0
45891  45892  72153  2017           10160.0       8409.0

[22946 rows x 5 columns]

In [29]:
# Replacing null values with zeros
employment_cleaned_df = employment_cleaned_df.fillna(0)
employment_cleaned_df.isnull().sum()

ID                  0
FIPS                0
Year                0
NumCivLaborForce    0
Numemployed         0
dtype: int64

In [30]:
# Save the DataFrame to a CSV file and Export
employment_cleaned = 'Resources/employment_cleaned.csv'
employment_cleaned_df.to_csv(employment_cleaned, index=False)
print(f"Data was saved to '{employment_cleaned}")

Data was saved to 'Resources/employment_cleaned.csv