In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
# Read the data into a Pandas DataFrame
jobs_df = pd.read_csv('Resources/jobs.csv')
jobs_df.head()

,FIPS,State,County,UnempRate2020,PctEmpChange1920,UnempRate2019,PctEmpChange1819,UnempRate2018,UnempRate2017,UnempRate2016,...,NumUnemployed2015,NumUnemployed2014,NumEmployed2014,NumCivLaborforce2014,NumUnemployed2013,NumCivLaborforce2013,NumUnemployed2007,NumEmployed2007,NumCivLaborforce2007,NumCivLaborforce2017
0,0,US,United States,8.1,-6.0,3.7,1.3,3.9,4.4,4.9,...,8285731.0,9617207.0,146318952.0,155936159.0,11457241.0,155362278.0,7034917.0,145156133.0,152191050.0,160214378.0
1,1000,AL,Alabama,5.9,-3.2,3.0,2.3,3.9,4.6,5.9,...,131852.0,146010.0,2018705.0,2164715.0,159274.0,2172102.0,88418.0,2092030.0,2180448.0,2172455.0
2,1001,AL,Autauga,4.9,-3.9,2.7,1.7,3.6,4.0,5.1,...,1335.0,1489.0,24150.0,25639.0,1628.0,25783.0,824.0,23610.0,24434.0,25898.0
3,1003,AL,Baldwin,5.6,-3.6,2.8,3.7,3.6,4.2,5.4,...,4874.0,5281.0,81265.0,86546.0,5740.0,85206.0,2616.0,80213.0,82829.0,91838.0
4,1005,AL,Barbour,7.0,-2.4,3.8,2.9,5.1,6.0,8.4,...,767.0,929.0,7930.0,8859.0,944.0,9096.0,665.0,9698.0,10363.0,8298.0

In [3]:
# Read the data into a Pandas DataFrame
income_df = pd.read_csv('Resources/income.csv')
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3278 entries, 0 to 3277
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FIPS                   3278 non-null   int64
 1   State                  3278 non-null   object
 2   County                 3278 non-null   object
 3   Median_HH_Inc_ACS      3273 non-null   float64
 4   PerCapitaInc           3273 non-null   float64
 5   Poverty_Rate_0_17_ACS  3272 non-null   float64
 6   Poverty_Rate_ACS       3273 non-null   float64
 7   Deep_Pov_All           3273 non-null   float64
 8   Deep_Pov_Children      3273 non-null   float64
 9   NumAll_inPOV_ACS       3273 non-null   float64
 10  PCTPOV017              3193 non-null   float64
 11  POV017                 3193 non-null   float64
 12  MedHHInc               3193 non-null   float64
 13  POVALL                 3193 non-null   float64
 14  PCTPOVALL              3193 non-null   float64
 15  Num_inPOV_0_17_ACS     3273 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 409.9+ KB

# JOBS AND INCOME

In [ ]:
# Get a brief summary of the crowdfunding_info DataFrame.
jobs_df.info()

In [ ]:
# Check for missing values:
jobs_df.isnull().sum()

In [ ]:
# Replacing null values with zeros
jobs_df = jobs_df.fillna(0)
jobs_df.isnull().sum()

In [ ]:
# Nulls in 'income.csv'?
income_df.isnull().sum()

In [ ]:
# Replacing null values with zeros
income_cleaned_df = income_df.fillna(0)
income_cleaned_df.isnull().sum()

In [ ]:
# Save the DataFrame to a CSV file and Export
income_cleaned = 'Resources/income_cleaned.csv'
income_cleaned_df.to_csv(income_cleaned, index=False)
print(f"Data was saved to '{income_cleaned}'.")

# JOBS

In [ ]:
jobs_cleaned_df = jobs_df[['FIPS', 'State', 'County', 'PctEmpAgriculture', 'PctEmpMining', 'PctEmpConstruction', 'PctEmpManufacturing', 'PctEmpTrade', 'PctEmpTrans', 'PctEmpInformation', 'PctEmpFIRE', 'PctEmpServices', 'PctEmpGovt', 'NumCivEmployed']]
jobs_cleaned_df.head()

In [ ]:
# Replacing null values with zeros
jobs_cleaned_df = jobs_cleaned_df.fillna(0)
jobs_cleaned_df.isnull().sum()

In [ ]:
# Save the DataFrame to a CSV file and Export
jobs_cleaned = 'Resources/jobs_cleaned.csv'
jobs_cleaned_df.to_csv(jobs_cleaned, index=False)
print(f"Data was saved to '{jobs_cleaned}'.")

# UNEMPLOYMENT

In [ ]:
# # Making the 'unemployment' DataFrame and CSV; thanks chatGPT
# df = pd.DataFrame(jobs_df)

# # Melt the DataFrame to get the desired format
# df_melted = df.melt(id_vars=['FIPS', 'State', 'County'],
#                    value_vars=['UnempRate2020', 'UnempRate2019', 'UnempRate2018', 'UnempRate2017', 'UnempRate2016', 'UnempRate2015', 'UnempRate2014', 'UnempRate2013', 'UnempRate2012', 'UnempRate2011', 'UnempRate2010', 'UnempRate2009', 'UnempRate2008', 'UnempRate2007'],
#                    var_name='Year', value_name='UnempRate')
# # Map the 'YEAR' column to the actual years
# df_melted['Year'] = df_melted['Year'].str.replace('UnempRate', '')
# df_melted['Year'] = df_melted['Year'].astype(int)

# # Display the resulting DataFrame
# unemployment_cleaned_df = df_melted
# unemployment_cleaned_df

In [4]:
# # Making the 'unemployment' DataFrame and CSV; thanks chatGPT
# Assuming jobs_df is already defined as a DataFrame
df = pd.DataFrame(jobs_df)

# Melt the DataFrame for UnempRate
df_unemp_rate = df.melt(
    id_vars=['FIPS'],
    value_vars=['UnempRate2020', 'UnempRate2019', 'UnempRate2018', 'UnempRate2017', 'UnempRate2016', 'UnempRate2015', 'UnempRate2014', 'UnempRate2013', 'UnempRate2012', 'UnempRate2011', 'UnempRate2010', 'UnempRate2009', 'UnempRate2008', 'UnempRate2007'],
    var_name='Year', value_name='UnempRate'
)

# Extract the year from the 'Year' column for UnempRate
df_unemp_rate['Year'] = df_unemp_rate['Year'].str.replace('UnempRate', '')
df_unemp_rate['Year'] = df_unemp_rate['Year'].astype(int)

# Melt the DataFrame for NumUnemployed
df_num_unemployed = df.melt(
    id_vars=['FIPS'],
    value_vars=['NumUnemployed2020', 'NumUnemployed2019', 'NumUnemployed2018', 'NumUnemployed2017', 'NumUnemployed2016', 'NumUnemployed2015', 'NumUnemployed2014', 'NumUnemployed2013', 'NumUnemployed2012', 'NumUnemployed2011', 'NumUnemployed2010', 'NumUnemployed2009', 'NumUnemployed2008', 'NumUnemployed2007'],
    var_name='Year', value_name='NumUnemployed'
)

# Extract the year from the 'Year' column for NumUnemployed
df_num_unemployed['Year'] = df_num_unemployed['Year'].str.replace('NumUnemployed', '')
df_num_unemployed['Year'] = df_num_unemployed['Year'].astype(int)

# Merge the two melted DataFrames on the common columns
unemployment_cleaned_df = pd.merge(df_unemp_rate, df_num_unemployed, on=['FIPS', 'Year'])

# Display the resulting DataFrame
unemployment_cleaned_df

        FIPS  Year  UnempRate  NumUnemployed
0          0  2020        8.1     12933704.0
1       1000  2020        5.9       131056.0
2       1001  2020        4.9         1262.0
3       1003  2020        5.6         5425.0
4       1005  2020        7.0          605.0
...      ...   ...        ...            ...
45887  72145  2007       12.6         2670.0
45888  72147  2007       10.9          362.0
45889  72149  2007       13.3         1256.0
45890  72151  2007       18.2         2077.0
45891  72153  2007       13.1         2184.0

[45892 rows x 4 columns]

In [7]:
# Replacing null values with zeros
unemployment_cleaned_df = unemployment_cleaned_df.fillna(0)
unemployment_cleaned_df.isnull().sum()

FIPS             0
Year             0
UnempRate        0
NumUnemployed    0
dtype: int64

In [15]:
unemployment_cleaned_df.isnull().sum()

FIPS             0
Year             0
UnempRate        0
NumUnemployed    0
dtype: int64

In [18]:
# Find all duplicated FIPS values
duplicates = unemployment_cleaned_df[unemployment_cleaned_df.duplicated(subset='FIPS', keep=False)]

if not duplicates.empty:
    # Get unique duplicated FIPS values
    duplicate_fips = duplicates['FIPS'].unique()

    # Choose the first duplicated FIPS value (or select another as needed)
    fips_to_check = duplicate_fips[0]

    # Find rows with this duplicated FIPS value
    matching_rows = df[df['FIPS'] == fips_to_check]

    # Print the chosen duplicate and its matching rows
    print(f"FIPS {fips_to_check} appears in the following rows:")
    print(matching_rows)
else:
    print("No duplicates found.")

FIPS 0 appears in the following rows:
   FIPS State         County  UnempRate2020  PctEmpChange1920  UnempRate2019  \
0     0    US  United States            8.1              -6.0            3.7

   PctEmpChange1819  UnempRate2018  UnempRate2017  UnempRate2016  ...  \
0               1.3            3.9            4.4            4.9  ...

   NumUnemployed2015  NumUnemployed2014  NumEmployed2014  \
0          8285731.0          9617207.0      146318952.0

   NumCivLaborforce2014  NumUnemployed2013  NumCivLaborforce2013  \
0           155936159.0         11457241.0           155362278.0

   NumUnemployed2007  NumEmployed2007  NumCivLaborforce2007  \
0          7034917.0      145156133.0           152191050.0

   NumCivLaborforce2017
0           160214378.0

[1 rows x 75 columns]

In [ ]:
matching_rows = df[df['FIPS'] == fips_to_check]
print(f"FIPS {fips_to_check} appears in the following rows:")
print(matching_rows)

In [ ]:
# Save the DataFrame to a CSV file and Export
unemployment_cleaned = 'Resources/unemployment_cleaned.csv'
unemployment_cleaned_df.to_csv(unemployment_cleaned, index=False)
print(f"Data was saved to '{unemployment_cleaned}")

# Y'all, I can't find this file :(

# EMPLOYMENT

In [ ]:
# Making the 'employment' DataFrame and CSV; thanks chatGPT

# Rename columns to be consistent
jobs_df.rename(columns={
    'NumCivLaborforce2020': 'NumCivLaborForce2020',
    'NumCivLaborforce2019': 'NumCivLaborForce2019',
    'NumCivLaborforce2018': 'NumCivLaborForce2018',
    'NumCivLaborforce2017': 'NumCivLaborForce2017',
    'NumCivLaborforce2016': 'NumCivLaborForce2016',
    'NumCivLaborforce2015': 'NumCivLaborForce2015',
    'NumCivLaborforce2014': 'NumCivLaborForce2014',
    'NumCivLaborforce2013': 'NumCivLaborForce2013',
    'NumCivLaborforce2007': 'NumCivLaborForce2007'
}, inplace=True)

df2 = pd.DataFrame(jobs_df)

# # Melt the DataFrame to get the desired format
# df2_melted = df2.melt(id_vars=['FIPS'],
#                       value_vars=['NumCivLaborForce2012', 'NumCivLaborForce2011', 'NumCivLaborForce2010', 'NumCivLaborForce2009', 'NumCivLaborForce2008', 'NumCivLaborForce2020', 'NumCivLaborForce2019', 'NumCivLaborForce2018', 'NumCivLaborForce2016', 'NumCivLaborForce2015', 'NumCivLaborForce2014', 'NumCivLaborForce2013', 'NumCivLaborForce2007', 'NumCivLaborForce2017'],
#                       var_name='Year', value_name='NumCivLaborForce')

# # Map the 'Year' column to the actual years
# df2_melted['Year'] = df2_melted['Year'].str.replace('NumCivLaborForce', '')
# df2_melted['Year'] = df2_melted['Year'].astype(int)

# # Display the resulting DataFrame
# employment_cleaned_df = df2_melted
# employment_cleaned_df

In [ ]:
# Assuming jobs_df is already defined as a DataFrame
df2 = pd.DataFrame(jobs_df)

# Melt the DataFrame for NumCivLaborForce
df2_melted_laborforce = df2.melt(
    id_vars=['FIPS', 'State', 'County'],
    value_vars=['NumCivLaborForce2012', 'NumCivLaborForce2011', 'NumCivLaborForce2010', 'NumCivLaborForce2009', 'NumCivLaborForce2008', 'NumCivLaborForce2020', 'NumCivLaborForce2019', 'NumCivLaborForce2018', 'NumCivLaborForce2016', 'NumCivLaborForce2015', 'NumCivLaborForce2014', 'NumCivLaborForce2013', 'NumCivLaborForce2007', 'NumCivLaborForce2017'],
    var_name='Year', value_name='NumCivLaborForce'
)

# Extract the year from the 'Year' column for NumCivLaborForce
df2_melted_laborforce['Year'] = df2_melted_laborforce['Year'].str.replace('NumCivLaborForce', '')
df2_melted_laborforce['Year'] = df2_melted_laborforce['Year'].astype(int)

# Melt the DataFrame for NumEmployed
df2_melted_employed = df2.melt(
    id_vars=['FIPS', 'State', 'County'],
    value_vars=['NumEmployed2011', 'NumEmployed2010', 'NumEmployed2009', 'NumEmployed2008', 'NumEmployed2020', 'NumEmployed2019', 'NumEmployed2018', 'NumEmployed2017', 'NumEmployed2016', 'NumEmployed2012', 'NumEmployed2015', 'NumEmployed2014', 'NumEmployed2013', 'NumEmployed2007'],
    var_name='Year', value_name='NumEmployed'
)

# Extract the year from the 'Year' column for NumEmployed
df2_melted_employed['Year'] = df2_melted_employed['Year'].str.replace('NumEmployed', '')
df2_melted_employed['Year'] = df2_melted_employed['Year'].astype(int)

# Merge the two melted DataFrames on the common columns
employment_cleaned_df = pd.merge(df2_melted_laborforce, df2_melted_employed, on=['FIPS', 'State', 'County', 'Year'])

# Display the resulting DataFrame
employment_cleaned_df

In [ ]:
# Replacing null values with zeros
employment_cleaned_df = employment_cleaned_df.fillna(0)
employment_cleaned_df.isnull().sum()

In [ ]:
# Save the DataFrame to a CSV file and Export
employment_cleaned = 'Resources/employment_cleaned.csv'
employment_cleaned_df.to_csv(employment_cleaned, index=False)
print(f"Data was saved to '{employment_cleaned}")

# Y'all, I can't find this file :(

In [ ]:
base_path = r'C:\Users\laura\OneDrive\Desktop\Boothcamps\April_ds_boothcamp\projects\project_3_group_12\Project-3---Web-Application-Data-Analytics\archive (1)'

In [ ]:
# Set file paths
county_classifications_path = os.path.join(base_path, 'County Classifications.csv')
income_path = os.path.join(base_path, 'Income.csv')
jobs_path = os.path.join(base_path, 'Jobs.csv')
people_path = os.path.join(base_path, 'People.csv')
rural_atlas_data_path = os.path.join(base_path, 'RuralAtlasData23.xlsx')
variable_name_lookup_path = os.path.join(base_path, 'Variable Name Lookup.csv')
veterans_path = os.path.join(base_path, 'Veterans.csv')

In [ ]:
# Load the datasets
county_classifications = pd.read_csv(county_classifications_path, encoding='ISO-8859-1')
income = pd.read_csv(income_path)
jobs = pd.read_csv(jobs_path)
people = pd.read_csv(people_path)
rural_atlas_data = pd.read_excel(rural_atlas_data_path)
variable_name_lookup = pd.read_csv(variable_name_lookup_path)
veterans = pd.read_csv(veterans_path)

In [ ]:
# Dictionary to store datasets for easy looping
datasets = {
    "County Classifications": county_classifications,
    "Income": income,
    "Jobs": jobs,
    "People": people,
    "Rural Atlas Data": rural_atlas_data,
    "Variable Name Lookup": variable_name_lookup,
    "Veterans": veterans
}

In [ ]:
# Basic Data Inspection
for name, df in datasets.items():
    print(f"Dataset: {name}")
    print(f"Shape: {df.shape}")
    print(f"Columns: {df.columns.tolist()}")
    print(f"Missing values:\n{df.isnull().sum()}")
    print("\n")

In [ ]:
# Summary Statistics
for name, df in datasets.items():
    print(f"Summary statistics for {name}:")
    print(df.describe())
    print("\n")

In [ ]:
# Correlation Analysis
for name, df in datasets.items():
    # Select only numeric columns for correlation analysis
    numeric_df = df.select_dtypes(include=['number'])
    
    if numeric_df.shape[1] > 1:  # Only plot if there are multiple numeric columns
        plt.figure(figsize=(10, 8))
        sns.heatmap(numeric_df.corr(), annot=True, cmap='coolwarm')
        plt.title(f"Correlation Matrix for {name}")
        plt.show()

In [ ]:
# Visualize Distributions
for name, df in datasets.items():
    numeric_df = df.select_dtypes(include=['number'])  # Select only numeric columns
    if not numeric_df.empty:  # Check if there are any numeric columns to plot
        numeric_df.hist(figsize=(15, 10), bins=30)
        plt.suptitle(f"Histograms for {name}")
        plt.show()
    else:
        print(f"No numeric columns to plot histograms for {name}")

In [ ]:
# Handling Categorical Variables
for name, df in datasets.items():
    for col in df.select_dtypes(include=['object']).columns:
        print(f"Value counts for {col} in {name}:")
        print(df[col].value_counts())
        print("\n")

In [ ]:
# Attempt to load the file with different delimiters
try:
    # Attempt to load with tab delimiter
    county_classifications = pd.read_csv(county_classifications_path, delimiter='\t', encoding='ISO-8859-1')
except:
    print("Tab delimiter didn't work. Trying comma delimiter.")
    try:
        # Attempt to load with comma delimiter
        county_classifications = pd.read_csv(county_classifications_path, delimiter=',', encoding='ISO-8859-1')
    except Exception as e:
        print("Comma delimiter also failed. Please inspect the file format.")
        print(f"Error: {e}")

# Display the first few rows to inspect if data loaded correctly
print(county_classifications.head())
print(county_classifications.columns)

In [ ]:
# Saving Cleaned Data (Optional)
for name, df in datasets.items():
    df.to_csv(f'cleaned_{name}.csv', index=False)

In [ ]:
# Display the cleaned data for verification (First 5 rows of each)
cleaned_files = {name: df.head() for name, df in datasets.items()}
cleaned_files