In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
# Read the data into a Pandas DataFrame
jobs_df = pd.read_csv('Resources/jobs.csv')
jobs_df.head()

,FIPS,State,County,UnempRate2020,PctEmpChange1920,UnempRate2019,PctEmpChange1819,UnempRate2018,UnempRate2017,UnempRate2016,...,NumUnemployed2015,NumUnemployed2014,NumEmployed2014,NumCivLaborforce2014,NumUnemployed2013,NumCivLaborforce2013,NumUnemployed2007,NumEmployed2007,NumCivLaborforce2007,NumCivLaborforce2017
0,0,US,United States,8.1,-6.0,3.7,1.3,3.9,4.4,4.9,...,8285731.0,9617207.0,146318952.0,155936159.0,11457241.0,155362278.0,7034917.0,145156133.0,152191050.0,160214378.0
1,1000,AL,Alabama,5.9,-3.2,3.0,2.3,3.9,4.6,5.9,...,131852.0,146010.0,2018705.0,2164715.0,159274.0,2172102.0,88418.0,2092030.0,2180448.0,2172455.0
2,1001,AL,Autauga,4.9,-3.9,2.7,1.7,3.6,4.0,5.1,...,1335.0,1489.0,24150.0,25639.0,1628.0,25783.0,824.0,23610.0,24434.0,25898.0
3,1003,AL,Baldwin,5.6,-3.6,2.8,3.7,3.6,4.2,5.4,...,4874.0,5281.0,81265.0,86546.0,5740.0,85206.0,2616.0,80213.0,82829.0,91838.0
4,1005,AL,Barbour,7.0,-2.4,3.8,2.9,5.1,6.0,8.4,...,767.0,929.0,7930.0,8859.0,944.0,9096.0,665.0,9698.0,10363.0,8298.0

In [3]:
# Read the data into a Pandas DataFrame
income_df = pd.read_csv('Resources/income.csv')
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3278 entries, 0 to 3277
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FIPS                   3278 non-null   int64
 1   State                  3278 non-null   object
 2   County                 3278 non-null   object
 3   Median_HH_Inc_ACS      3273 non-null   float64
 4   PerCapitaInc           3273 non-null   float64
 5   Poverty_Rate_0_17_ACS  3272 non-null   float64
 6   Poverty_Rate_ACS       3273 non-null   float64
 7   Deep_Pov_All           3273 non-null   float64
 8   Deep_Pov_Children      3273 non-null   float64
 9   NumAll_inPOV_ACS       3273 non-null   float64
 10  PCTPOV017              3193 non-null   float64
 11  POV017                 3193 non-null   float64
 12  MedHHInc               3193 non-null   float64
 13  POVALL                 3193 non-null   float64
 14  PCTPOVALL              3193 non-null   float64
 15  Num_inPOV_0_17_ACS     3273 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 409.9+ KB

In [4]:
# Get a brief summary of the crowdfunding_info DataFrame.
jobs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3278 entries, 0 to 3277
Data columns (total 75 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   FIPS                  3278 non-null   int64
 1   State                 3278 non-null   object
 2   County                3278 non-null   object
 3   UnempRate2020         3193 non-null   float64
 4   PctEmpChange1920      3193 non-null   float64
 5   UnempRate2019         3272 non-null   float64
 6   PctEmpChange1819      3272 non-null   float64
 7   UnempRate2018         3272 non-null   float64
 8   UnempRate2017         3272 non-null   float64
 9   UnempRate2016         3272 non-null   float64
 10  UnempRate2015         3272 non-null   float64
 11  UnempRate2014         3272 non-null   float64
 12  UnempRate2010         3272 non-null   float64
 13  UnempRate2007         3270 non-null   float64
 14  PctEmpChange1020      3193 non-null   float64
 15  PctEmpChange0720      3188 non-null   float64
 16  PctEmpChange0710      3267 non-null   float64
 17  PctEmpAgriculture     3273 non-null   float64
 18  PctEmpMining          3273 non-null   float64
 19  PctEmpConstruction    3273 non-null   float64
 20  PctEmpManufacturing   3273 non-null   float64
 21  PctEmpTrade           3273 non-null   float64
 22  PctEmpTrans           3273 non-null   float64
 23  PctEmpInformation     3273 non-null   float64
 24  PctEmpFIRE            3273 non-null   float64
 25  PctEmpServices        3273 non-null   float64
 26  PctEmpGovt            3273 non-null   float64
 27  NumCivEmployed        3273 non-null   float64
 28  NumCivLaborForce2012  3272 non-null   float64
 29  NumUnemployed2011     3272 non-null   float64
 30  UnempRate2012         3272 non-null   float64
 31  NumEmployed2011       3272 non-null   float64
 32  NumEmployed2012       3272 non-null   float64
 33  NumCivLaborForce2011  3272 non-null   float64
 34  UnempRate2011         3272 non-null   float64
 35  NumUnemployed2010     3272 non-null   float64
 36  NumEmployed2010       3272 non-null   float64
 37  NumCivLaborForce2010  3272 non-null   float64
 38  NumUnemployed2009     3270 non-null   float64
 39  NumEmployed2009       3270 non-null   float64
 40  NumCivLaborForce2009  3270 non-null   float64
 41  NumUnemployed2008     3270 non-null   float64
 42  UnempRate2013         3272 non-null   float64
 43  NumEmployed2008       3270 non-null   float64
 44  NumCivLaborForce2008  3270 non-null   float64
 45  UnempRate2009         3270 non-null   float64
 46  UnempRate2008         3270 non-null   float64
 47  NumEmployed2016       3272 non-null   float64
 48  NumEmployed2020       3193 non-null   float64
 49  NumCivLaborforce2020  3193 non-null   float64
 50  NumUnemployed2020     3193 non-null   float64
 51  NumEmployed2019       3272 non-null   float64
 52  NumUnemployed2019     3272 non-null   float64
 53  NumCivLaborforce2019  3272 non-null   float64
 54  NumUnemployed2018     3272 non-null   float64
 55  NumEmployed2018       3272 non-null   float64
 56  NumCivLaborforce2018  3272 non-null   float64
 57  NumUnemployed2017     3272 non-null   float64
 58  NumEmployed2017       3272 non-null   float64
 59  NumEmployed2013       3272 non-null   float64
 60  NumUnemployed2016     3272 non-null   float64
 61  NumUnemployed2012     3272 non-null   float64
 62  NumCivLaborforce2016  3272 non-null   float64
 63  NumCivLaborforce2015  3272 non-null   float64
 64  NumEmployed2015       3272 non-null   float64
 65  NumUnemployed2015     3272 non-null   float64
 66  NumUnemployed2014     3272 non-null   float64
 67  NumEmployed2014       3272 non-null   float64
 68  NumCivLaborforce2014  3272 non-null   float64
 69  NumUnemployed2013     3272 non-null   float64
 70  NumCivLaborforce2013  3272 non-null   float64
 71  NumUnemployed2007     3270 non-null   float64
 72  NumEmployed2007       3270 non-null   float64
 73  NumCivLaborforce2007  3270 non-null   float64
 74  NumCivLaborforce2017  3272 non-null   float64
dtypes: float64(72), int64(1), object(2)
memory usage: 1.9+ MB

In [5]:
# Check for missing values:
jobs_df.isnull().sum()

FIPS                     0
State                    0
County                   0
UnempRate2020           85
PctEmpChange1920        85
                        ..
NumCivLaborforce2013     6
NumUnemployed2007        8
NumEmployed2007          8
NumCivLaborforce2007     8
NumCivLaborforce2017     6
Length: 75, dtype: int64

In [6]:
# Replacing null values with zeros
jobs_df = jobs_df.fillna(0)
jobs_df.isnull().sum()

FIPS                    0
State                   0
County                  0
UnempRate2020           0
PctEmpChange1920        0
                       ..
NumCivLaborforce2013    0
NumUnemployed2007       0
NumEmployed2007         0
NumCivLaborforce2007    0
NumCivLaborforce2017    0
Length: 75, dtype: int64

In [7]:
# Nulls in 'income.csv'?
income_df.isnull().sum()

FIPS                      0
State                     0
County                    0
Median_HH_Inc_ACS         5
PerCapitaInc              5
Poverty_Rate_0_17_ACS     6
Poverty_Rate_ACS          5
Deep_Pov_All              5
Deep_Pov_Children         5
NumAll_inPOV_ACS          5
PCTPOV017                85
POV017                   85
MedHHInc                 85
POVALL                   85
PCTPOVALL                85
Num_inPOV_0_17_ACS        5
dtype: int64

In [8]:
# Replacing null values with zeros
income_cleaned_df = income_df.fillna(0)
income_cleaned_df.isnull().sum()

FIPS                     0
State                    0
County                   0
Median_HH_Inc_ACS        0
PerCapitaInc             0
Poverty_Rate_0_17_ACS    0
Poverty_Rate_ACS         0
Deep_Pov_All             0
Deep_Pov_Children        0
NumAll_inPOV_ACS         0
PCTPOV017                0
POV017                   0
MedHHInc                 0
POVALL                   0
PCTPOVALL                0
Num_inPOV_0_17_ACS       0
dtype: int64

In [ ]:
# jobs_cleaned_df = economic_atlas_rural_america_df.drop(columns=['PctEmpChange1920', 'PctEmpChange1819', 'PctEmpChange1020', 'PctEmpChange0720', 'PctEmpChange0710'])
# jobs_cleaned_df

In [9]:
# Save the DataFrame to a CSV file and Export
income_cleaned = 'Resources/income_cleaned.csv'
income_cleaned_df.to_csv(income_cleaned, index=False)
print(f"Data was saved to '{income_cleaned}'.")

Data was saved to 'Resources/income_cleaned.csv'.

In [11]:
jobs_cleaned_df = jobs_df[['FIPS', 'State', 'County', 'PctEmpAgriculture', 'PctEmpMining', 'PctEmpConstruction', 'PctEmpManufacturing', 'PctEmpTrade', 'PctEmpTrans', 'PctEmpInformation', 'PctEmpFIRE', 'PctEmpServices', 'PctEmpGovt', 'NumCivEmployed']]
jobs_cleaned_df.head()

,FIPS,State,County,PctEmpAgriculture,PctEmpMining,PctEmpConstruction,PctEmpManufacturing,PctEmpTrade,PctEmpTrans,PctEmpInformation,PctEmpFIRE,PctEmpServices,PctEmpGovt,NumCivEmployed
0,0,US,United States,1.259202,0.512723,6.592262,10.108008,13.745334,5.363914,2.011223,6.555840,49.244129,4.607366,154842185.0
1,1000,AL,Alabama,0.993190,0.398210,6.604990,14.332569,14.083735,5.454652,1.519607,5.523166,45.678045,5.411837,2097384.0
2,1001,AL,Autauga,0.517902,0.354783,6.072099,12.951635,12.445967,6.797977,1.362042,5.978305,44.082864,9.436424,24522.0
3,1003,AL,Baldwin,0.952772,0.257648,8.585460,9.249035,16.477900,5.003628,1.525907,7.520165,45.203016,5.224469,95091.0
4,1005,AL,Barbour,5.717342,0.000000,6.810888,23.047664,12.813503,6.632592,0.606205,3.720433,33.638417,7.012956,8413.0

In [12]:
# Replacing null values with zeros
jobs_cleaned_df = jobs_cleaned_df.fillna(0)
jobs_cleaned_df.isnull().sum()

FIPS                   0
State                  0
County                 0
PctEmpAgriculture      0
PctEmpMining           0
PctEmpConstruction     0
PctEmpManufacturing    0
PctEmpTrade            0
PctEmpTrans            0
PctEmpInformation      0
PctEmpFIRE             0
PctEmpServices         0
PctEmpGovt             0
NumCivEmployed         0
dtype: int64

In [13]:
# Save the DataFrame to a CSV file and Export
jobs_cleaned = 'Resources/jobs_cleaned.csv'
jobs_cleaned_df.to_csv(jobs_cleaned, index=False)
print(f"Data was saved to '{jobs_cleaned}'.")

Data was saved to 'Resources/jobs_cleaned.csv'.

In [15]:
df = pd.DataFrame(jobs_cleaned_df)

# Melt the DataFrame to get the desired format
df_melted = df.melt(id_vars=['FIPS', 'State', 'County'],
                   value_vars=['UnempRate2020', 'UnempRate2019', 'UnempRate2018', 'UnempRate2017', 'UnempRate2016', 'UnempRate2015', 'UnempRate2014', 'UnempRate2013', 'UnempRate2012', 'UnempRate2011', 'UnempRate2010', 'UnempRate2009', 'UnempRate2008', 'UnempRate2007'],
                   var_name='YEAR', value_name='UNEMPRATE')
# Map the 'YEAR' column to the actual years
df_melted['YEAR'] = df_melted['YEAR'].str.replace('UnempRate', '')
df_melted['YEAR'] = df_melted['YEAR'].astype(int)

# Display the resulting DataFrame
print(df_melted)

KeyError: "The following id_vars or value_vars are not present in the DataFrame: ['UnempRate2020', 'UnempRate2019', 'UnempRate2018', 'UnempRate2017', 'UnempRate2016', 'UnempRate2015', 'UnempRate2014', 'UnempRate2013', 'UnempRate2012', 'UnempRate2011', 'UnempRate2010', 'UnempRate2009', 'UnempRate2008', 'UnempRate2007']"

In [ ]:
base_path = r'C:\Users\laura\OneDrive\Desktop\Boothcamps\April_ds_boothcamp\projects\project_3_group_12\Project-3---Web-Application-Data-Analytics\archive (1)'

In [ ]:
# Set file paths
county_classifications_path = os.path.join(base_path, 'County Classifications.csv')
income_path = os.path.join(base_path, 'Income.csv')
jobs_path = os.path.join(base_path, 'Jobs.csv')
people_path = os.path.join(base_path, 'People.csv')
rural_atlas_data_path = os.path.join(base_path, 'RuralAtlasData23.xlsx')
variable_name_lookup_path = os.path.join(base_path, 'Variable Name Lookup.csv')
veterans_path = os.path.join(base_path, 'Veterans.csv')

In [ ]:
# Load the datasets
county_classifications = pd.read_csv(county_classifications_path, encoding='ISO-8859-1')
income = pd.read_csv(income_path)
jobs = pd.read_csv(jobs_path)
people = pd.read_csv(people_path)
rural_atlas_data = pd.read_excel(rural_atlas_data_path)
variable_name_lookup = pd.read_csv(variable_name_lookup_path)
veterans = pd.read_csv(veterans_path)

In [ ]:
# Dictionary to store datasets for easy looping
datasets = {
    "County Classifications": county_classifications,
    "Income": income,
    "Jobs": jobs,
    "People": people,
    "Rural Atlas Data": rural_atlas_data,
    "Variable Name Lookup": variable_name_lookup,
    "Veterans": veterans
}

In [ ]:
# Basic Data Inspection
for name, df in datasets.items():
    print(f"Dataset: {name}")
    print(f"Shape: {df.shape}")
    print(f"Columns: {df.columns.tolist()}")
    print(f"Missing values:\n{df.isnull().sum()}")
    print("\n")

In [ ]:
# Summary Statistics
for name, df in datasets.items():
    print(f"Summary statistics for {name}:")
    print(df.describe())
    print("\n")

In [ ]:
# Correlation Analysis
for name, df in datasets.items():
    # Select only numeric columns for correlation analysis
    numeric_df = df.select_dtypes(include=['number'])
    
    if numeric_df.shape[1] > 1:  # Only plot if there are multiple numeric columns
        plt.figure(figsize=(10, 8))
        sns.heatmap(numeric_df.corr(), annot=True, cmap='coolwarm')
        plt.title(f"Correlation Matrix for {name}")
        plt.show()

In [ ]:
# Visualize Distributions
for name, df in datasets.items():
    numeric_df = df.select_dtypes(include=['number'])  # Select only numeric columns
    if not numeric_df.empty:  # Check if there are any numeric columns to plot
        numeric_df.hist(figsize=(15, 10), bins=30)
        plt.suptitle(f"Histograms for {name}")
        plt.show()
    else:
        print(f"No numeric columns to plot histograms for {name}")

In [ ]:
# Handling Categorical Variables
for name, df in datasets.items():
    for col in df.select_dtypes(include=['object']).columns:
        print(f"Value counts for {col} in {name}:")
        print(df[col].value_counts())
        print("\n")

In [ ]:
# Attempt to load the file with different delimiters
try:
    # Attempt to load with tab delimiter
    county_classifications = pd.read_csv(county_classifications_path, delimiter='\t', encoding='ISO-8859-1')
except:
    print("Tab delimiter didn't work. Trying comma delimiter.")
    try:
        # Attempt to load with comma delimiter
        county_classifications = pd.read_csv(county_classifications_path, delimiter=',', encoding='ISO-8859-1')
    except Exception as e:
        print("Comma delimiter also failed. Please inspect the file format.")
        print(f"Error: {e}")

# Display the first few rows to inspect if data loaded correctly
print(county_classifications.head())
print(county_classifications.columns)

In [ ]:
# Saving Cleaned Data (Optional)
for name, df in datasets.items():
    df.to_csv(f'cleaned_{name}.csv', index=False)

In [ ]:
# Display the cleaned data for verification (First 5 rows of each)
cleaned_files = {name: df.head() for name, df in datasets.items()}
cleaned_files