In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [4]:
# Read the data into a Pandas DataFrame
jobs_df = pd.read_csv('..Resources/jobs.csv')
jobs_df.head()

FileNotFoundError: [Errno 2] No such file or directory: '..Resources/jobs.csv'

In [ ]:
# Read the data into a Pandas DataFrame
income_df = pd.read_csv('Resources/income.csv')
income_df.info()

# JOBS AND INCOME

In [ ]:
# Get a brief summary of the crowdfunding_info DataFrame.
jobs_df.info()

In [7]:
# Check for missing values:
jobs_df.isnull().sum()

FIPS                     0
State                    0
County                   0
UnempRate2020           85
PctEmpChange1920        85
                        ..
NumCivLaborforce2013     6
NumUnemployed2007        8
NumEmployed2007          8
NumCivLaborforce2007     8
NumCivLaborforce2017     6
Length: 75, dtype: int64

In [8]:
# Replacing null values with zeros
jobs_df = jobs_df.fillna(0)
jobs_df.isnull().sum()

FIPS                    0
State                   0
County                  0
UnempRate2020           0
PctEmpChange1920        0
                       ..
NumCivLaborforce2013    0
NumUnemployed2007       0
NumEmployed2007         0
NumCivLaborforce2007    0
NumCivLaborforce2017    0
Length: 75, dtype: int64

In [9]:
# Nulls in 'income.csv'?
income_df.isnull().sum()

FIPS                      0
State                     0
County                    0
Median_HH_Inc_ACS         5
PerCapitaInc              5
Poverty_Rate_0_17_ACS     6
Poverty_Rate_ACS          5
Deep_Pov_All              5
Deep_Pov_Children         5
NumAll_inPOV_ACS          5
PCTPOV017                85
POV017                   85
MedHHInc                 85
POVALL                   85
PCTPOVALL                85
Num_inPOV_0_17_ACS        5
dtype: int64

In [10]:
# Replacing null values with zeros
income_cleaned_df = income_df.fillna(0)
income_cleaned_df.isnull().sum()

FIPS                     0
State                    0
County                   0
Median_HH_Inc_ACS        0
PerCapitaInc             0
Poverty_Rate_0_17_ACS    0
Poverty_Rate_ACS         0
Deep_Pov_All             0
Deep_Pov_Children        0
NumAll_inPOV_ACS         0
PCTPOV017                0
POV017                   0
MedHHInc                 0
POVALL                   0
PCTPOVALL                0
Num_inPOV_0_17_ACS       0
dtype: int64

In [11]:
# jobs_cleaned_df = economic_atlas_rural_america_df.drop(columns=['PctEmpChange1920', 'PctEmpChange1819', 'PctEmpChange1020', 'PctEmpChange0720', 'PctEmpChange0710'])
# jobs_cleaned_df

In [12]:
# Save the DataFrame to a CSV file and Export
income_cleaned = 'Resources/income_cleaned.csv'
income_cleaned_df.to_csv(income_cleaned, index=False)
print(f"Data was saved to '{income_cleaned}'.")

Data was saved to 'Resources/income_cleaned.csv'.

# JOBS

In [13]:
jobs_cleaned_df = jobs_df[['FIPS', 'State', 'County', 'PctEmpAgriculture', 'PctEmpMining', 'PctEmpConstruction', 'PctEmpManufacturing', 'PctEmpTrade', 'PctEmpTrans', 'PctEmpInformation', 'PctEmpFIRE', 'PctEmpServices', 'PctEmpGovt', 'NumCivEmployed']]
jobs_cleaned_df.head()

,FIPS,State,County,PctEmpAgriculture,PctEmpMining,PctEmpConstruction,PctEmpManufacturing,PctEmpTrade,PctEmpTrans,PctEmpInformation,PctEmpFIRE,PctEmpServices,PctEmpGovt,NumCivEmployed
0,0,US,United States,1.259202,0.512723,6.592262,10.108008,13.745334,5.363914,2.011223,6.555840,49.244129,4.607366,154842185.0
1,1000,AL,Alabama,0.993190,0.398210,6.604990,14.332569,14.083735,5.454652,1.519607,5.523166,45.678045,5.411837,2097384.0
2,1001,AL,Autauga,0.517902,0.354783,6.072099,12.951635,12.445967,6.797977,1.362042,5.978305,44.082864,9.436424,24522.0
3,1003,AL,Baldwin,0.952772,0.257648,8.585460,9.249035,16.477900,5.003628,1.525907,7.520165,45.203016,5.224469,95091.0
4,1005,AL,Barbour,5.717342,0.000000,6.810888,23.047664,12.813503,6.632592,0.606205,3.720433,33.638417,7.012956,8413.0

In [14]:
# Replacing null values with zeros
jobs_cleaned_df = jobs_cleaned_df.fillna(0)
jobs_cleaned_df.isnull().sum()

FIPS                   0
State                  0
County                 0
PctEmpAgriculture      0
PctEmpMining           0
PctEmpConstruction     0
PctEmpManufacturing    0
PctEmpTrade            0
PctEmpTrans            0
PctEmpInformation      0
PctEmpFIRE             0
PctEmpServices         0
PctEmpGovt             0
NumCivEmployed         0
dtype: int64

In [15]:
# Save the DataFrame to a CSV file and Export
jobs_cleaned = 'Resources/jobs_cleaned.csv'
jobs_cleaned_df.to_csv(jobs_cleaned, index=False)
print(f"Data was saved to '{jobs_cleaned}'.")

Data was saved to 'Resources/jobs_cleaned.csv'.

# UNEMPLOYMENT

In [16]:
# # Making the 'unemployment' DataFrame and CSV; thanks chatGPT
# df = pd.DataFrame(jobs_df)

# # Melt the DataFrame to get the desired format
# df_melted = df.melt(id_vars=['FIPS', 'State', 'County'],
#                    value_vars=['UnempRate2020', 'UnempRate2019', 'UnempRate2018', 'UnempRate2017', 'UnempRate2016', 'UnempRate2015', 'UnempRate2014', 'UnempRate2013', 'UnempRate2012', 'UnempRate2011', 'UnempRate2010', 'UnempRate2009', 'UnempRate2008', 'UnempRate2007'],
#                    var_name='Year', value_name='UnempRate')
# # Map the 'YEAR' column to the actual years
# df_melted['Year'] = df_melted['Year'].str.replace('UnempRate', '')
# df_melted['Year'] = df_melted['Year'].astype(int)

# # Display the resulting DataFrame
# unemployment_cleaned_df = df_melted
# unemployment_cleaned_df

In [18]:
# # Making the 'unemployment' DataFrame and CSV; thanks chatGPT
# Assuming jobs_df is already defined as a DataFrame
df = pd.DataFrame(jobs_df)

# Melt the DataFrame for UnempRate
df_unemp_rate = df.melt(
    id_vars=['FIPS', 'State', 'County'],
    value_vars=['UnempRate2020', 'UnempRate2019', 'UnempRate2018', 'UnempRate2017', 'UnempRate2016', 'UnempRate2015', 'UnempRate2014', 'UnempRate2013', 'UnempRate2012', 'UnempRate2011', 'UnempRate2010', 'UnempRate2009', 'UnempRate2008', 'UnempRate2007'],
    var_name='Year', value_name='UnempRate'
)

# Extract the year from the 'Year' column for UnempRate
df_unemp_rate['Year'] = df_unemp_rate['Year'].str.replace('UnempRate', '')
df_unemp_rate['Year'] = df_unemp_rate['Year'].astype(int)

# Melt the DataFrame for NumUnemployed
df_num_unemployed = df.melt(
    id_vars=['FIPS', 'State', 'County'],
    value_vars=['NumUnemployed2020', 'NumUnemployed2019', 'NumUnemployed2018', 'NumUnemployed2017', 'NumUnemployed2016', 'NumUnemployed2015', 'NumUnemployed2014', 'NumUnemployed2013', 'NumUnemployed2012', 'NumUnemployed2011', 'NumUnemployed2010', 'NumUnemployed2009', 'NumUnemployed2008', 'NumUnemployed2007'],
    var_name='Year', value_name='NumUnemployed'
)

# Extract the year from the 'Year' column for NumUnemployed
df_num_unemployed['Year'] = df_num_unemployed['Year'].str.replace('NumUnemployed', '')
df_num_unemployed['Year'] = df_num_unemployed['Year'].astype(int)

# Merge the two melted DataFrames on the common columns
unemployment_cleaned_df = pd.merge(df_unemp_rate, df_num_unemployed, on=['FIPS', 'State', 'County', 'Year'])

# Display the resulting DataFrame
unemployment_cleaned_df

        FIPS State         County  Year  UnempRate  NumUnemployed
0          0    US  United States  2020        8.1     12933704.0
1       1000    AL        Alabama  2020        5.9       131056.0
2       1001    AL        Autauga  2020        4.9         1262.0
3       1003    AL        Baldwin  2020        5.6         5425.0
4       1005    AL        Barbour  2020        7.0          605.0
...      ...   ...            ...   ...        ...            ...
45887  72145    PR      Vega Baja  2007       12.6         2670.0
45888  72147    PR        Vieques  2007       10.9          362.0
45889  72149    PR       Villalba  2007       13.3         1256.0
45890  72151    PR        Yabucoa  2007       18.2         2077.0
45891  72153    PR          Yauco  2007       13.1         2184.0

[45892 rows x 6 columns]

In [19]:
# Replacing null values with zeros
unemployment_cleaned_df = unemployment_cleaned_df.fillna(0)
unemployment_cleaned_df.isnull().sum()

FIPS             0
State            0
County           0
Year             0
UnempRate        0
NumUnemployed    0
dtype: int64

In [20]:
unemployment_cleaned_df.isnull().sum()

FIPS             0
State            0
County           0
Year             0
UnempRate        0
NumUnemployed    0
dtype: int64

In [21]:
# Save the DataFrame to a CSV file and Export
unemployment_cleaned = 'Resources/unemployment_cleaned.csv'
unemployment_cleaned_df.to_csv(unemployment_cleaned, index=False)
print(f"Data was saved to '{unemployment_cleaned}")

# Y'all, I can't find this file :(

Data was saved to 'Resources/unemployment_cleaned.csv

# EMPLOYMENT

In [22]:
# Making the 'employment' DataFrame and CSV; thanks chatGPT

# Rename columns to be consistent
jobs_df.rename(columns={
    'NumCivLaborforce2020': 'NumCivLaborForce2020',
    'NumCivLaborforce2019': 'NumCivLaborForce2019',
    'NumCivLaborforce2018': 'NumCivLaborForce2018',
    'NumCivLaborforce2017': 'NumCivLaborForce2017',
    'NumCivLaborforce2016': 'NumCivLaborForce2016',
    'NumCivLaborforce2015': 'NumCivLaborForce2015',
    'NumCivLaborforce2014': 'NumCivLaborForce2014',
    'NumCivLaborforce2013': 'NumCivLaborForce2013',
    'NumCivLaborforce2007': 'NumCivLaborForce2007'
}, inplace=True)

df2 = pd.DataFrame(jobs_df)

# # Melt the DataFrame to get the desired format
# df2_melted = df2.melt(id_vars=['FIPS', 'State', 'County'],
#                       value_vars=['NumCivLaborForce2012', 'NumCivLaborForce2011', 'NumCivLaborForce2010', 'NumCivLaborForce2009', 'NumCivLaborForce2008', 'NumCivLaborForce2020', 'NumCivLaborForce2019', 'NumCivLaborForce2018', 'NumCivLaborForce2016', 'NumCivLaborForce2015', 'NumCivLaborForce2014', 'NumCivLaborForce2013', 'NumCivLaborForce2007', 'NumCivLaborForce2017'],
#                       var_name='Year', value_name='NumCivLaborForce')

# # Map the 'Year' column to the actual years
# df2_melted['Year'] = df2_melted['Year'].str.replace('NumCivLaborForce', '')
# df2_melted['Year'] = df2_melted['Year'].astype(int)

# # Display the resulting DataFrame
# employment_cleaned_df = df2_melted
# employment_cleaned_df

In [24]:
# Assuming jobs_df is already defined as a DataFrame
df2 = pd.DataFrame(jobs_df)

# Melt the DataFrame for NumCivLaborForce
df2_melted_laborforce = df2.melt(
    id_vars=['FIPS', 'State', 'County'],
    value_vars=['NumCivLaborForce2012', 'NumCivLaborForce2011', 'NumCivLaborForce2010', 'NumCivLaborForce2009', 'NumCivLaborForce2008', 'NumCivLaborForce2020', 'NumCivLaborForce2019', 'NumCivLaborForce2018', 'NumCivLaborForce2016', 'NumCivLaborForce2015', 'NumCivLaborForce2014', 'NumCivLaborForce2013', 'NumCivLaborForce2007', 'NumCivLaborForce2017'],
    var_name='Year', value_name='NumCivLaborForce'
)

# Extract the year from the 'Year' column for NumCivLaborForce
df2_melted_laborforce['Year'] = df2_melted_laborforce['Year'].str.replace('NumCivLaborForce', '')
df2_melted_laborforce['Year'] = df2_melted_laborforce['Year'].astype(int)

# Melt the DataFrame for NumEmployed
df2_melted_employed = df2.melt(
    id_vars=['FIPS', 'State', 'County'],
    value_vars=['NumEmployed2011', 'NumEmployed2010', 'NumEmployed2009', 'NumEmployed2008', 'NumEmployed2020', 'NumEmployed2019', 'NumEmployed2018', 'NumEmployed2017', 'NumEmployed2016', 'NumEmployed2012', 'NumEmployed2015', 'NumEmployed2014', 'NumEmployed2013', 'NumEmployed2007'],
    var_name='Year', value_name='NumEmployed'
)

# Extract the year from the 'Year' column for NumEmployed
df2_melted_employed['Year'] = df2_melted_employed['Year'].str.replace('NumEmployed', '')
df2_melted_employed['Year'] = df2_melted_employed['Year'].astype(int)

# Merge the two melted DataFrames on the common columns
employment_cleaned_df = pd.merge(df2_melted_laborforce, df2_melted_employed, on=['FIPS', 'State', 'County', 'Year'])

# Display the resulting DataFrame
employment_cleaned_df

        FIPS State         County  Year  NumCivLaborForce  NumEmployed
0          0    US  United States  2012       155038121.0  142527201.0
1       1000    AL        Alabama  2012         2178508.0    2000848.0
2       1001    AL        Autauga  2012           25762.0      23932.0
3       1003    AL        Baldwin  2012           84507.0      77973.0
4       1005    AL        Barbour  2012            9377.0       8273.0
...      ...   ...            ...   ...               ...          ...
45887  72145    PR      Vega Baja  2017           13414.0      11746.0
45888  72147    PR        Vieques  2017            3027.0       2589.0
45889  72149    PR       Villalba  2017            7557.0       6090.0
45890  72151    PR        Yabucoa  2017            9000.0       7512.0
45891  72153    PR          Yauco  2017           10160.0       8409.0

[45892 rows x 6 columns]

In [9]:
# Replacing null values with zeros
employment_cleaned_df = employment_cleaned_df.fillna(0)
employment_cleaned_df.isnull().sum()

FIPS                0
State               0
County              0
Year                0
NumCivLaborForce    0
dtype: int64

In [10]:
# Save the DataFrame to a CSV file and Export
employment_cleaned = 'Resources/employment_cleaned.csv'
employment_cleaned_df.to_csv(employment_cleaned, index=False)
print(f"Data was saved to '{employment_cleaned}")

# Y'all, I can't find this file :(

Data was saved to 'Resources/employment_cleaned.csv

In [ ]:
base_path = r'C:\Users\laura\OneDrive\Desktop\Boothcamps\April_ds_boothcamp\projects\project_3_group_12\Project-3---Web-Application-Data-Analytics\archive (1)'

In [ ]:
# Set file paths
county_classifications_path = os.path.join(base_path, 'County Classifications.csv')
income_path = os.path.join(base_path, 'Income.csv')
jobs_path = os.path.join(base_path, 'Jobs.csv')
people_path = os.path.join(base_path, 'People.csv')
rural_atlas_data_path = os.path.join(base_path, 'RuralAtlasData23.xlsx')
variable_name_lookup_path = os.path.join(base_path, 'Variable Name Lookup.csv')
veterans_path = os.path.join(base_path, 'Veterans.csv')

In [ ]:
# Load the datasets
county_classifications = pd.read_csv(county_classifications_path, encoding='ISO-8859-1')
income = pd.read_csv(income_path)
jobs = pd.read_csv(jobs_path)
people = pd.read_csv(people_path)
rural_atlas_data = pd.read_excel(rural_atlas_data_path)
variable_name_lookup = pd.read_csv(variable_name_lookup_path)
veterans = pd.read_csv(veterans_path)

In [ ]:
# Dictionary to store datasets for easy looping
datasets = {
    "County Classifications": county_classifications,
    "Income": income,
    "Jobs": jobs,
    "People": people,
    "Rural Atlas Data": rural_atlas_data,
    "Variable Name Lookup": variable_name_lookup,
    "Veterans": veterans
}

In [ ]:
# Basic Data Inspection
for name, df in datasets.items():
    print(f"Dataset: {name}")
    print(f"Shape: {df.shape}")
    print(f"Columns: {df.columns.tolist()}")
    print(f"Missing values:\n{df.isnull().sum()}")
    print("\n")

In [ ]:
# Summary Statistics
for name, df in datasets.items():
    print(f"Summary statistics for {name}:")
    print(df.describe())
    print("\n")

In [ ]:
# Correlation Analysis
for name, df in datasets.items():
    # Select only numeric columns for correlation analysis
    numeric_df = df.select_dtypes(include=['number'])
    
    if numeric_df.shape[1] > 1:  # Only plot if there are multiple numeric columns
        plt.figure(figsize=(10, 8))
        sns.heatmap(numeric_df.corr(), annot=True, cmap='coolwarm')
        plt.title(f"Correlation Matrix for {name}")
        plt.show()

In [ ]:
# Visualize Distributions
for name, df in datasets.items():
    numeric_df = df.select_dtypes(include=['number'])  # Select only numeric columns
    if not numeric_df.empty:  # Check if there are any numeric columns to plot
        numeric_df.hist(figsize=(15, 10), bins=30)
        plt.suptitle(f"Histograms for {name}")
        plt.show()
    else:
        print(f"No numeric columns to plot histograms for {name}")

In [ ]:
# Handling Categorical Variables
for name, df in datasets.items():
    for col in df.select_dtypes(include=['object']).columns:
        print(f"Value counts for {col} in {name}:")
        print(df[col].value_counts())
        print("\n")

In [ ]:
# Attempt to load the file with different delimiters
try:
    # Attempt to load with tab delimiter
    county_classifications = pd.read_csv(county_classifications_path, delimiter='\t', encoding='ISO-8859-1')
except:
    print("Tab delimiter didn't work. Trying comma delimiter.")
    try:
        # Attempt to load with comma delimiter
        county_classifications = pd.read_csv(county_classifications_path, delimiter=',', encoding='ISO-8859-1')
    except Exception as e:
        print("Comma delimiter also failed. Please inspect the file format.")
        print(f"Error: {e}")

# Display the first few rows to inspect if data loaded correctly
print(county_classifications.head())
print(county_classifications.columns)

In [ ]:
# Saving Cleaned Data (Optional)
for name, df in datasets.items():
    df.to_csv(f'cleaned_{name}.csv', index=False)

In [ ]:
# Display the cleaned data for verification (First 5 rows of each)
cleaned_files = {name: df.head() for name, df in datasets.items()}
cleaned_files